# imports

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Patrickn\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Patrickn\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Patrickn\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
dataset_file_path = 'Dataset\Dataset.tsv'
dataset = pd.read_csv(dataset_file_path, sep='\t')

In [11]:
dataset

          label                                               text
0      Positive  ممتاز نوعا ما . النظافة والموقع والتجهيز والشا...
1      Positive  أحد أسباب نجاح الإمارات أن كل شخص في هذه الدول...
2      Positive  هادفة .. وقوية. تنقلك من صخب شوارع القاهرة الى...
3      Positive  خلصنا .. مبدئيا اللي مستني ابهار زي الفيل الاز...
4      Positive  ياسات جلوريا جزء لا يتجزأ من دبي . فندق متكامل...
...         ...                                                ...
99994  Negative  معرفش ليه كنت عاوزة أكملها وهي مش عاجباني من ا...
99995  Negative  لا يستحق ان يكون في بوكنق لانه سيئ . لا شي. لا...
99996  Negative  كتاب ضعيف جدا ولم استمتع به. فى كل قصه سرد لحا...
99997  Negative  مملة جدا. محمد حسن علوان فنان بالكلمات، والوصف...
99998  Negative  لن ارجع إليه مرة اخرى . قربه من البحر. المكان ...

[99999 rows x 2 columns]

In [12]:
dataset['label'].value_counts()

label
Positive    33333
Mixed       33333
Negative    33333
Name: count, dtype: int64

# Add Id to Dataset